#############
# Big files #
#############
# Generate using `../docker/runInDocker.sh -s`
resources/dockerRunVm.tar

#################
# Project files #
#################
dependency-reduced-pom.xml
target/
